 # Environment variables
.env

# Node.js dependencies
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/IDE-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build output
dist/
build/

# Temp files
*.tmp
*.swp
