<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="title-text">
        <div class="title login">Login Form</div>
        <div class="title signup">Signup Form</div>
      </div>
      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked />
          <input type="radio" name="slide" id="signup" />
          <label for="login" class="slide login">Login</label>
          <label for="signup" class="slide signup">Signup</label>
          <div class="slider-tab"></div>
        </div>

        <div class="form-inner">
          <form action="/user/login" method="post" class="login">
            <div class="field">
              <input type="text" placeholder="Email Address" name="email" required/>
            </div>
            <div class="field">
              <input type="password" placeholder="Password" name="password" required/>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Login" />
            </div>
            <div class="signup-link">
              Not a member? <a href="">Signup now</a>
            </div>
          </form>

          <form action="/user/signup" method="post" class="signup">
            <div class="field">
              <input type="text" placeholder="userName" name="userName" />
            </div>
            <div class="field">
              <input type="text" placeholder="Email Address" name="email" required/>
            </div>
            <div class="field">
              <input type="password" placeholder="Password" name="password" required/>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Signup" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="login.js"></script>
</html>
